body {
    margin: 0;
    background-color: rgb(42, 42, 121);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 90%;
    background-color: rgb(245, 245, 245);
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    color: rgb(42, 42, 121);
}

.pokedex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 180px;
    height: 250px;
    border: 1px solid black;
    margin: 7px;
    border-radius: 10%;
    color: rgb(42, 42, 121);
    cursor: pointer;
}

.card:hover {
    transform: scale(1.1);
}

.card_name {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 9px;
    font-size: 20px;
    text-transform: capitalize;
}

.card_img {
    display: flex;
    justify-content: center;
    margin: 5px;
    height: 170px;
}

.card_img img {
    height: 150px;
}

.card_type {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 65px;
    margin-right: 65px;
    text-transform: capitalize;
}

.button {
    font-size: 20px;
    position: fixed;
    bottom: 30px;
    color: rgb(42, 42, 121);
    background-color: rgb(245, 245, 245);
    cursor: pointer;
}

.open_card {
    background-color: black;
}

.d-none {
    display: none;
}